In [1]:
# Supress warnings
import warnings
warnings.filterwarnings('ignore')

# Dependencies
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl 
import matplotlib.pyplot as plt

In [2]:
# Import sklearn libraries
from sklearn.linear_model import SGDClassifier
from sklearn.datasets import load_iris
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.preprocessing import scale

In [3]:
''' Import cleaned housing data for Kings County, WA. '''
houseClean = pd.read_csv("./data/Modified/houseClean_dates.csv", index_col=False)
houseClean.head()

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,quarter
0,0,7129300520,2014-10-13,221900.0,3.0,1.00,1180.0,5650.0,1.0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,4
1,1,6414100192,2014-12-09,538000.0,3.0,2.25,2570.0,7242.0,2.0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,4
2,2,5631500400,2015-02-25,180000.0,2.0,1.00,770.0,10000.0,1.0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,1
3,3,2487200875,2014-12-09,604000.0,4.0,3.00,1960.0,5000.0,1.0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,4
4,4,1954400510,2015-02-18,510000.0,3.0,2.00,1680.0,8080.0,1.0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,1

In [5]:
df = houseClean[['bedrooms','sqft_living','grade','price']]
df.head()

   bedrooms  sqft_living  grade     price
0       3.0       1180.0      7  221900.0
1       3.0       2570.0      7  538000.0
2       2.0        770.0      6  180000.0
3       4.0       1960.0      7  604000.0
4       3.0       1680.0      8  510000.0

In [9]:
''' Define Dependent and Independent Variables '''
# X = houseClean[['bedrooms','sqft_living','grade']] # Independent variables
# y = houseClean['price'].values.reshape(-1,1) # Dependent variables
X = df.iloc[:,:3]
y = df.iloc[:,-1]
print(X.shape, y.shape)

(21613, 3) (21613,)

In [11]:
''' Initiate theta values as zeros '''
theta = np.array([0]*len(X.columns))
''' Define length of training data '''
m = len(df)

In [12]:
''' Hypothesis Function '''
def hypothesis(theta, X):
    return theta*X

In [22]:
''' Cost Function '''
def cost(X, y, theta):
    h = hypothesis(theta, X)
    h = np.sum(h, axis=1)
    return sum(sqrt(h-y)**2) / (2 * 47)

In [25]:
def gradientDescent(X, y, theta, alpha, i):
    J = []  #cost function in each iterations
    k = 0
    while k < i:        
        y1 = hypothesis(theta, X)
        y1 = np.sum(y1, axis=1)
        for c in range(0, len(X.columns)):
            theta[c] = theta[c] - alpha*(sum((y1-y)*X.iloc[:,c])/len(X))
        j = cost(X, y, theta)
        J.append(j)
        k += 1
    return J, j, theta

In [26]:
J, j, theta = gradientDescent(X, y, theta, 0.05, 1000)

OverflowError: Python int too large to convert to C long